:root {
    --gray-clr: #AAAAAA;
    --light-gray-clr: #F4F4F4;
    --star-rating: #FFF4CB;
    --white: #fff;
    --black: #000;
    --dark-green: #46856E;
    --border-clr: #E0E0E0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
}

.upend-wrap {
    background: var(--light-gray-clr);
}

.nav {

}

.wrap__nav {
    background: var(--light-gray-clr);
    display: flex;
    justify-content: flex-end;
    padding: 0 3.3rem;
    max-width: 1440px;
    margin: 0 auto;
}

.wrap__nav a {
    color: var(--gray-clr);
    text-decoration: none;
}


.uppend__nav-wrap {
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 1.3rem;

}

.uppend__nav-sales {
    margin-right: 3.2rem;
}

.uppend__nav-contact {
    margin-right: 5.2rem;
}

.uppend__nav-shevron {
    margin-left: .6rem;
    font-size: 8px;
}

.logo {
    margin-left: 88px;
    padding: 24px 0;
    font-size: 50px;
}

.menu-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    align-items: center;
}

.bottom-nav {

    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    border-bottom: 1px solid #E0E0E0;
}

.nav-menu {
    display: flex;
    margin-left: auto;

}

.nav-menu li a {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 12px;
    transition: 400ms all ease-in-out;
    padding: 5px 10px;
}

.nav-menu li a:hover {
    background: var(--dark-green);
    color: white;

    border-radius: 5px;
}

.menu-item {
    margin: 0 50px;

}


.location {
    display: flex;
    align-items: center;
    font-size: 24px;

}

.location p {
    margin-left: 10px;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.nav-items-wrap {
    display: flex;
    margin-left: auto;
}

.nav-shop_cart {
    margin-left: 26px;
    font-size: 25px;
}


.main {
    max-width: 1440px;
    height: 756px;
    padding: 49px 56px;
    margin: 0 auto;

}

.main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px;
}

.active {
    top: 0;
}

.burger {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: none;
}

.burger2 {
    width: 30px;
    height: 30px;
    /*background: black;*/
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 15px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    fill: white;
}

.description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Roboto, sans-serif;
    align-items: center;
}

.description h2 {
    font-size: 48px;
    width: 355px;
    font-weight: normal;
}

.description p {
    font-size: 24px;
    line-height: 40px;
    color: var(--gray-clr);
}

.catalogue {
    margin: 210px 0 210px 0;
    width: 100%;

}

.catalogue-wrap {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
}

.catalogue-wrap .items {

    height: 550px;
    margin: 12px;
}

.catalogue-wrap .items p {
    font-size: 24px;
    font-family: Roboto, sans-serif;
    margin-top: 9px;

}

.catalogue-wrap .items .image {
    height: 90%;
    width: 100%;
    overflow: hidden;
}

.catalogue-wrap .items .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brands {
    max-width: 1144px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brands-title {
    font-size: 48px;
    padding: 0 30px;
    text-align: center;
}

.brand-count {
    font-size: 24px;
    margin: 24px 0 125px 0;
}


.brands-logo {
    max-width: 1104px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 0 40px;
    grid-gap: 60px;
    margin-bottom: 190px;
}

.brands-logo__item {
    display: flex;
    justify-content: center;
}

ul.swiper-wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.swiper-container {
    max-width: 100%;
}

.swiper-container img {
    width: 100%;
}

.swiper-slide {
    width: 94%;
    height: 736px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    text-align: center;
    margin: 17px 6px;
    background: var(--gray-clr);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 26px;
    color: white;
}

.swiper-button-prev:after {
    margin-left: 100px;
}

.swiper-button-next:after {
    margin-right: 100px;
}

.swiper-pagination-bullet:hover {
    transition: background-color 0.5s ease;
    color: white;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: var(--dark-green);
}

.swiper-pagination {
    width: 100%;
}

.test69 {
    width: 100%;
    height: 100vh;
}

.our-product {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 240px;
    padding: 50px;
}

.our-product h1 {
    font-size: 48px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    margin-bottom: 24px;
}


.our-product a {
    color: var(--dark-green);
    font-size: 14px;
    letter-spacing: 0.75px;
    text-decoration: none;
    font-weight: 600;

}

.product-card__wrap {
    display: flex;
    justify-content: center;
    margin-top: 51px;
    flex-wrap: wrap;

}

.our-product__card {
    width: 323px;
    font-family: Roboto, sans-serif;
    margin: 21px;
}

.our-product__img {
    display: flex;
    justify-content: center;
    font-size: 121px;
    color: var(--gray-clr);
}

.our-product__card h2 {
    font-size: 24px;
    margin: 26px 0 18px 0;
    font-weight: 500;
}

.our-product__card p {
    font-size: 16px;
    color: var(--gray-clr);
}


.reviews {
    max-width: 1440px;
    margin: 0 auto;
    /*padding: 0 50px;*/
    position: relative;
    padding: 120px 185px;
}

.reviews__bg {
    margin: 0 auto;
    width: 94%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.reviews__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews__wrap {
    padding: 0 50px;
}

.review__wrap {
    color: white;
    width: 228px;
}

.stars {
    margin-left: 7px;
    font-size: 20px;
    color: var(--star-rating);
}

.review__wrap h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 8px 0 7px 0;
}

.author {
    margin-left: 8px;
    margin-bottom: 40px;
}

.reviews a {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    color: white;
    text-decoration: none;
    /*margin-top: 40px;*/
}

.about {
    /*height: 100vh;*/
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    font-family: Roboto, sans-serif;
    padding: 50px;
}

.about-large-title {
    max-width: 920px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 46px;
    font-weight: 400;
    color: var(--gray-clr);
    margin-bottom: 25px;
}

.about-small-title {
    margin-bottom: 30px;
    font-size: 46px;
    font-weight: 400;
}

.about-product {
    width: 100%;
    display: grid;
    grid-template-columns: 55% 45%;
    margin-top: 65px;
}

.about-product-revert {
    grid-template-columns: 45% 55%;
}

.about-product__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-product__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


}

.about-title__wrap {
    width: 311px;
}

.about-product__title h2 {
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-weight: 400;

}

.about-product__title p {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: var(--gray-clr);
    line-height: 24px;
    margin-top: 27px;
}

.slider2 {
    margin: 286px 0;
}

.risk-free {

}

.risk-free-wrap {
    max-width: 1300px;
    padding: 0 50px;
    margin: 0 auto;
}

.trial__icons-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 67px 0;
    justify-content: center;
}

.trial__icons-items {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
}

.trial__icons-items p {
    margin-top: auto;
    font-size: 12px;
    justify-self: flex-end;
}

.trial__icons-items .icon {
    width: 64px;
    height: 64px;
    font-size: 64px;
    color: var(--gray-clr);
}

.gray {
    width: 100%;
    height: 465px;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
}

.gray h1 {
    font-size: 46px;
    font-weight: 400;
}

.terms {
    font-size: 12px;
    color: var(--gray-clr);
}

.get-btn {
    width: 146px;
    height: 50px;
    font-size: 12px;
    color: white;
    background: var(--dark-green);
    text-transform: uppercase;
    outline: none;
    border: none;
    letter-spacing: 2px;
    margin-bottom: 26px;
    cursor: pointer;
}


.footer {
    margin-top: 180px;
    background: black;
    padding: 100px 50px;
    height: 619px;
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;

}


.footer-wrap {
    max-width: 1120px;
    margin: 0 auto;
    height: 100px;
    display: grid;
    grid-template-columns: 156px 170px 238px 198px 1fr;
}

.footer-title {
    margin-bottom: 17px;
}

.footer-list li {
    margin-bottom: 4px;

}
.footer-list li a{
    text-decoration: none;
    color: white;
}
.two .footer-list li:last-child {
    margin-bottom: 45px;
}

.three .footer-list li:last-child {
    margin-bottom: 22px;
}

.one {
    color: white;
    font-size: 84px;
}

.footer-address {
    width: 130px;
    font-size: 13px;
}

.footer-social__icons {
    display: flex;
}

.footer-social__icons div {
    margin-right: 13px;
    cursor: pointer;
}

.footer-input input {
    width: 100%;
    font-size: 16px;
    padding: 15px;
    border: var(--gray-clr) 2px solid;
    outline: none;
    background: black;
    color: white;
    border-radius: 3px;
    margin: 30px 0 16px 0;
}

.sign-up-country {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 56px;
}

.privacy {
    font-size: 11px;
    color: var(--gray-clr);
    text-transform: uppercase;
    letter-spacing: 2.4px;
    position: relative;
}

.privacy .check {
    position: absolute;
    top: 0;
    left: -38px;
}