* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
}

.upend-wrap {
    background: #F4F4F4;
}

.nav {

}

.wrap__nav {
    background: #F4F4F4;
    display: flex;
    justify-content: flex-end;
    padding: 0 3.3rem;
    max-width: 1440px;
    margin: 0 auto;
}

.wrap__nav a {
    color: #AAAAAA;
    text-decoration: none;
}


.uppend__nav-wrap {
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 1.3rem;

}

.uppend__nav-sales {
    margin-right: 3.2rem;
}

.uppend__nav-contact {
    margin-right: 5.2rem;
}

.uppend__nav-shevron {
    margin-left: .6rem;
}

.logo {
    margin-left: 88px;
    padding: 24px 0;
}

.menu-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    align-items: center;
}

.bottom-nav {

    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    border-bottom: 1px solid #E0E0E0;
}

.nav-menu {
    display: flex;
    margin-left: auto;

}

.menu-item {
    margin: 0 50px;

}

.location {
    display: flex;
    align-items: center;

}

.location p {
    margin-left: 10px;
}

.nav-items-wrap {
    display: flex;
    margin-left: auto;
}

.nav-shop_cart {
    margin-left: 26px;
}


.main {
    max-width: 1440px;
    height: 100vh;
    padding: 49px 56px;
    margin: 0 auto;

}

.main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px;
}

.description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Roboto, sans-serif;
    align-items: center;
}

.description h2 {
    font-size: 48px;
    width: 355px;
    font-weight: normal;
}

.description p {
    font-size: 24px;
    line-height: 40px;
    color: #AAAAAA;
}

.catalogue {
    margin: 210px 0 210px 0;
    width: 100%;

}

.catalogue-wrap {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 30px;
    /*height: 100px;*/
    /*background: pink;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
}

.catalogue-wrap .items {

    height: 550px;
    /*background: aquamarine;*/
    margin: 12px;
}

.catalogue-wrap .items p {
    font-size: 24px;
    font-family: Roboto, sans-serif;
    margin-top: 9px;
    /*font-weight: bold;*/

}

.catalogue-wrap .items .image {
    height: 90%;
    width: 100%;
    overflow: hidden;
}

.catalogue-wrap .items .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brands {
    max-width: 1144px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brands-title {
    font-size: 48px;

}

.brand-count {
    font-size: 24px;
    margin: 24px 0 125px 0;
}


.brands-logo {
    max-width: 1104px;
    /*height: 100px;*/
    /*background: pink;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 0 40px;
    grid-gap: 60px;
    margin-bottom: 190px;
}

.brands-logo__item {
    display: flex;
    justify-content: center;
}

ul.swiper-wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.swiper-container {
    max-width: 100%;
}

.swiper-container img {
    width: 100%;
}

.swiper-slide {
    width: 94%;
    height: 736px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    text-align: center;
    margin: 17px 6px;
    background: #a3a3a3;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 26px;
    color: white;
}

.swiper-button-prev:after {
    margin-left: 100px;
}

.swiper-button-next:after {
    margin-right: 100px;
}

.swiper-pagination-bullet:hover {
    transition: background-color 0.5s ease;
    /*background: rgba(0, 0, 0, 1);*/
    color: white;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #46856E;
}

.swiper-pagination {
    width: 100%;
}

.test69 {
    width: 100%;
    height: 100vh;
}

@media (max-width: 776px) {
    .swiper-slide {
        height: 736px;
    }
}